<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Accounts</title>
</head>

<body>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <div id="app" v-cloak>
        <div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement">
            <div id="danger-toast" data-bs-delay="2000" class="toast align-items-center text-white bg-danger border-0"
                role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ errorMsg }}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-2">
                    <div class="">
                        <a href="/web/accounts.html"
                            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                            <img class="menu-logo" src="img/Mindhub-logo.png">

                        </a>
                        <hr>
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item">
                                <a href="'/web/accounts.html?id='+account.id" class="nav-link active">
                                    <i class="bi bi-inboxes"></i>
                                    Accounts
                                </a>
                            </li>
                            <li>
                                <a href="/web/cards.html" class="nav-link link-dark">
                                    <i class="bi bi-credit-card"></i>
                                    Cards
                                </a>
                            </li>
                            <li>
                                <a href="/web/transfers.html" class="nav-link link-dark">
                                    <i class="bi bi-box-arrow-right"></i>
                                    Transfers
                                </a>
                            </li>
                            <li>
                                <a href="/web/loan-application.html" class="nav-link link-dark">
                                    <i class="bi bi-cash"></i>
                                    Loans
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="nav nav-pills flex-column mb-auto">
                            <button class="btn btn-danger img-fluid">Sign out</button>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h1 class="display-1">{{ clientInfo.firstName }} {{ clientInfo.lastName }}</h1>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <h2 class="display-6 subtitle">Accounts</h2>

                        </div>
                        <div class="row mx-2">
                            <div v-for="account in clientInfo.accounts" class="col-12 col-md-4 mt-2 ">
                                <a class="account-link" v-bind:href="'/web/account.html?id='+account.id">
                                    <div class="card border-0 account">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ account.number }}</h5>
                                            <p class="card-text"> {{ formatDate(account.creationDate) }}</p>
                                            <p class="text-center lead account-balance"> ${{ account.balance }} </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <h2 class="display-6">Loans</h2>
                                <span class="small" v-if="clientInfo.loan != null && clientInfo.loans.length <= 0">No
                                    loans</span>
                            </div>
                        </div>
                        <div class="row mx-2">
                            <div v-for="loan in clientInfo.loans" class="col-12 col-md-4 mt-2">
                                <div class="card border-0 loan">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ loan.name }}</h5>
                                        <p class="card-text"> payments: {{ loan.payments}}</p>
                                        <p class="text-center lead account-balance"> ${{ loan.amount }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script src="js/accounts.js"></script>
</body>

</html>